@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



:root {
    --extra-font: 'Source Sans Pro', sans-serif;
    --btn-clr: rgb(250, 250, 250);
    --btn-clr-hover: rgb(227, 227, 227);
}

.currentdate {
    display: flex;
    /* gap: 8%; */
    font-family: var(--extra-font);

}

.calendar .calendarhead {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    /* gap: 7%; */
    margin: 3%;
    /* flex-wrap: wrap; */
}

.calendar i {
    background-color: var(--btn-clr);
    padding: 15%;
    margin: 3%;
    border-radius: 3px;
    border-width: 0;
    cursor: pointer;
}



.calbody {
    /* display: flex; */
    justify-content: center;
    background-color: black;
}

.calbody .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(255, 255, 255);
    padding: 0 0%;
}

.active {
    background-color: rgb(33, 131, 211);
    color: white;
}

.calbody li {
    text-align: center;
    font-size: 1.1rem;

    margin: 1%;
    /* max-width: 50px; */
}

.calbody li:not(.daysname) {
    cursor: pointer;
}


.calendar i:hover {
    background-color: var(--btn-clr-hover);

}

.calendar {
    /* min-width: 200px; */
    border-bottom: solid 1px black;
    font-family: var(--extra-font);
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

li {
    list-style: none;

}